<!DOCTYPE html>
<html>
<head>
  <title>Triple baked core</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= yield :head %>

  <%= stylesheet_link_tag "triple_baked_core/styles/admin_light" %>
  <%= javascript_include_tag "triple_baked_core/admin", "data-turbo-track": "reload", type: "module" %>
</head>
<body>

<h1>TRIPLE BAKED CORE</h1>

<%= yield %>

</body>
</html>
